<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Punk</title>
  </head>

  <body>
    <div id="container">
      <form action="/" id="cryptA">
        <label class="Sym" for="PDFA">Symmetric Encrypt</label>
        <input id="PDFA" type="file" accept=".pdf" />
      </form>
      <form action="/" id="cryptB">
        <label class="Asym" for="PDFB">Asymmetric Encrypt</label>
        <input id="PDFB" type="file" accept=".pdf" />
      </form>
    </div>
  </body>
</html>
